<body>
  <div class="contact-inner">
    <%# <form action="#" method="post" name="form" class="form-wrapper"> %>
    <%= form_tag("submit_path") do |f| %>
        <h1 class="contact-title">お問い合わせ 内容確認</h1>
        <p class="contact-discription-confirm">お問い合わせ内容をご確認の上、よろしければ「送信する」ボタンをクリックしてください。</p>
        <div class="form-container form-container-confirm">
            <div class="form">
              <div class="form-left" style="width: 50%;">
                <label class="label">お名前</label>
              </div>  
              <div class="form-left" style="width: 50%;">
                <h3><%=@contact.name%></h3>
              </div>  
            </div>
            <div class="form">
              <div class="form-left" style="width: 50%;">
                <label>ふりがな</label>
              </div>  
              <div class="form-left" style="width: 50%;">
                <h3><%=@contact.ruby%></h3>
              </div>  
                
            </div>
            <div class="form">
              <div class="form-left" style="width: 50%;">
                <label>メールアドレス</label>
               </div>
               <div class="form-left" style="width: 50%;">
                <h3><%=@contact.email%></h3>
              </div>  
                
            </div>
            <div class="form">
              <div class="form-left" style="width: 50%;">
                <label>お問い合わせ項目</label>
              </div>  
              <div class="form-left" style="width: 50%;">
                <h3><%=@contact.item%></h3>
              </div>  
                
                
            </div>
            <div class="form">
              <div class="form-left" style="width: 50%;">
                <label>お問い合わせ内容</label>
              </div>  
              <div class="content-box">
                <h3 class="content-confim"><%=@contact.content %></h3>
              </div>  
            </div>
        </div>
        <div class="button-clearfix" style="padding-top: 30px;">
          <%= link_to "内容を修正する", "/edit", class:"edit-btn" %>
          <%= link_to "送信する", contacts_path, method: :post, class:"submit-btn" %>
        </div>  
    <% end %>
  </div>
</body>